<main class="main">
    <div class="container-register">
        <div class="register">
            <h2 class="h2sign">Sign Up</h2>
            <input type="text" class="email-box" placeholder=" Email">
            <input type="text" class="password-box" placeholder=" Password">
            <input type="text" class="password" placeholder=" Repeat password">
            <div class="check">
                <input type="checkbox" class="checkbox">Remember me  
            </div>
           <h4>Or Sign with social networks</h4>
            <div class="icons">    
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
            <input type="button" class="button-box" value="Sign Up">
        </div>
    </div>
</main>
