<footer>
  <div class="body">
    <h3>NODENS</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
      recusandae accusantium ab nulla.<br />
      Quis vel illum sint mollitia dolorem architecto dolores <br />
      quae voluptatem accusamus, reiciendis earum hic ea impedit exercitationem!
    </p>
    <div class="list">
      <ul class="icons">
        <li>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
