<article class="land-body">
  <header class="land-head">
    <h1 class="land-title">MUSIC</h1>
  </header>
</article>

<main class="body-land">
  <section class="hacer" [@view]="move ? 'in' : 'out'" (window:scroll)="sight()">
    <img src="../../../assets/inte.webp" class="inte" alt="">
    <div class="card-des">

      <h4>Que Hacemos?</h4>
      <p>Somos una aplicacion en busqueda de dar a conocer los artistas emergentes o sin experiencia laboral y exponerlos al mercado musical para que tengan mas oportunidades laborales</p>
    </div>
  </section>

  <section class="hacer" [@view]="move ? 'in' : 'out'" (window:scroll)="sight()">
    <div class="card-pq" >
      <h4>Porque?</h4>
      <p>En el quindio y en Colombia en general hay muchos musicos prodigiosos y talentosos los cuales no han tenido la oportunidad de brillar o darse a conocer ya que no cuentan con los medios necesarios para lograrlo</p>
    </div>
    <img src="../../../assets/inte.webp" class="inte" alt="">
  </section>
</main>

<article class="testimonios">
  <div class="testi">
    <div class="icon">
      <i class="fa-solid fa-circle-user"></i>
    </div>
    <div class="info">
      <h4>lorem</h4>
      <div>
        <p class="card-descri">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis illo, impedit asperiores molestias rem consequuntur sunt obcaecati, a voluptatum facilis veniam optio dolores aspernatur maxime quaerat, debitis nulla dolore. Fuga.</p>
        <ul class="social-n">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </ul>
      </div>
      <p class="p2">Lorem ipsum </p>
    </div>
  </div>
  <div class="testi">
    <div class="icon">
      <i class="fa-solid fa-circle-user"></i>
    </div>
    <div class="info">
      <h4>lorem</h4>
      <div>
        <p class="card-descri">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis illo, impedit asperiores molestias rem consequuntur sunt obcaecati, a voluptatum facilis veniam optio dolores aspernatur maxime quaerat, debitis nulla dolore. Fuga.</p>
        <ul class="social-n">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </ul>
      </div>
      <p class="p2">Lorem ipsum </p>
    </div>
    <img src="" alt="" />
  </div>
  <div class="testi">
    <div class="icon">
      <i class="fa-solid fa-circle-user"></i>
    </div>
    <div class="info">
      <h4>lorem</h4>
      <div>
        <p class="card-descri">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis illo, impedit asperiores molestias rem consequuntur sunt obcaecati, a voluptatum facilis veniam optio dolores aspernatur maxime quaerat, debitis nulla dolore. Fuga.</p>
        <ul class="social-n">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </ul>
      </div>
      <p class="p2">Lorem ipsum </p>
    </div>
  </div>
  <div class="testi">
    <div class="icon">
      <i class="fa-solid fa-circle-user"></i>
    </div>
    <div class="info">
      <h4>lorem</h4>
      <div>
        <p class="card-descri">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis illo, impedit asperiores molestias rem consequuntur sunt obcaecati, a voluptatum facilis veniam optio dolores aspernatur maxime quaerat, debitis nulla dolore. Fuga.</p>
        <ul class="social-n">
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-google-plus"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </ul>
      </div>
      <p class="p2">Lorem ipsum </p>
    </div>
  </div>

</article>
