<article class="land-body">
  <header class="land-head">
    <h1 class="land-title">MUSIC</h1>
  </header>
</article>

<main class="body-land">
  <section class="hacer">
    <img src="../../../assets/inte.webp" class="inte" alt="">
    <div class="card-des">
      <h4>Que Hacemos?</h4>
      <p>Somos una aplicacion en busqueda de dar a conocer los artistas emergentes o sin experiencia laboral y exponerlos al mercado musical para que tengan mas oportunidades laborales</p>
    </div>
  </section>

  <section>

  </section>
</main>

<article>


</article>
