@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');

*{
  font-family: 'Sono', sans-serif;
}

.land-body {
  width: 100%;
  height: 100%;
}

.land-head {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background-image: url('../../../assets/landing.png');
}

.land-title {
  font-size: 9rem;
  color: azure;
  z-index: 200;
}

.body-land {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 10px;
  gap: 6%;
  background-color: #282A3A;
  color: #eee;
}

.hacer {
  width: 60%;
  display: flex;
  gap: 2%;
  border-radius: 10px;
  box-shadow: 1px 15px 23px 12px rgba(26, 25, 25, 0.842)
}

.hacer:nth-child(2){
  margin-left: 39%;
}

.card-des {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding-top: 4%;
}

.inte {
  width: 20vw;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
}
.card-des{
  padding-left: .12rem;
}

.inte:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.body-land .hacer .card-des h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.body-land .hacer .card-des p {
  width: 95%;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  line-height: 25px;
}

.card-pq {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding-top: 4%;
}

.body-land .hacer .card-pq h4 {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
}

.body-land .hacer .card-pq p {
  padding-left: 5%;
  width: 95%;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  line-height: 25px;

}

.testimonios {
  height: 140vh;
  background-color: #282A3A;
  display: grid;
  padding-left: 15%;
  grid-template-columns: 2fr 2fr;
  gap: 10%;
}

.testi{
  background: linear-gradient(180deg,rgba(251, 156, 63, 1) 0%,rgba(116, 70, 252, 1) 100% );
  width:50%;
  height: 90%;
  border-radius: 15px;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}
.icon{
  display: flex;
  justify-content: center;

}
.fa-circle-user{
  font-size: 9rem;
  transform: translateY(-7vh);
  border: 9px solid #eee;
  border-radius: 9999px;
  background-color: #eee;
  z-index: 1000;
}

.icon::after {
  content: '';
  position: absolute;
  transform: translateY(-8vh);
  z-index: 1;
  height: 10rem;
  width: 10rem;
  border: 15px solid #282A3A;
  border-radius: 9999px;
  background-color: #282A3A;
}

.info {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Source Code Pro', monospace;
}

.card-descri{
  height: 80%;
  font-family: 'Source Code Pro', monospace;
}
.p2{
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: 'Source Code Pro', monospace;
}

.social-n {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.fa-facebook{
  font-size: 3.5rem;
  color: #eee;
  transition: all .5s ease;
}
.fa-facebook:hover, .fa-google-plus:hover, .fa-instagram:hover{
  transform: translateY(-15px);
}
.fa-google-plus{
  font-size: 3.5rem;
  color: #eee;
  transition: all .5s ease;
}
.fa-instagram{
  font-size: 3.5rem;
  color: #eee;
  transition: all .5s ease;
}
