.main{
    background-image: url("./../../../assets/login.png") ;
    height: 100%;
    width: 100%;
}
.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    
}
.login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: 35rem;
    width: 35rem;
    border-radius: 15px;
    background: rgb(251,156,63);
    background: linear-gradient(180deg, rgba(251,156,63,1) 0%, rgba(116,70,252,1) 100%);
    box-shadow: 0px 0px 10px ;

}

.name:nth-child(2){
    height: 2.5rem;
    width: 50%;
    border-radius: 7px;    
}
.name:nth-child(3){
    height: 2.5rem;
    width: 50%;
    border-radius: 7px;
}
.name:nth-child(4){
    color: #fff;
}
.name:nth-child(5){
    background-color:rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 15px;
    height: 8%;
    width: 45%;
    box-shadow: 0px 5px 7px 3px rgb(153, 43, 226) ;
}
.name:nth-child(5):hover{
    background-color: #fff;
}
.name:nth-child(5):active{
    background-color: orangered;
    transform: translateY(3px);
    box-shadow: 0px 3px 7px 3px;
}
